<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>artists</title>
  </head>
  <body>
    <h1>Welcome to the artists index</h1>
    <% @all_artists.each do |artist| %>
    <br><a href="/artists/<%= artist.id %>"><%= artist.name %></a>
    <!--each one should be with a href - CLICKable-->
    <% end %>
  </body>
</html>
